
/*
 * About related CSS (_about.scss)
 */

section {
	.view {
		&.about {
			font-size: 1em;
			.title {
				font-size: 1.5em;
				font-family: bold;
			}
			.copyright {
				font-family: bold;
				text-align: center;
			}
		}
	}
}
