<script type="text/x-tmpl" id="tmpl_contacts_item">
<div class="contact item" data-index="<%= index %>">
    <div class="profile touchable">
        <img data-id="<%= id %>" class="avatar" src="<%= avatar %>" />
        <div class="full_name"><%= name.givenName %> <%= name.familyName %></div>
    </div>
</div>
</script>