<script type="text/x-tmpl" id="tmpl_about_index">
<div class="title"></div>
Hybrid apps are a special category of web applications which extend the web based application environment through their use of native platform APIs available on the device. The Hybrid application design pattern is equally applicable to both mobile and desktop environments.
<br /><br />
Hybrid apps like Native apps run within a native shell. These apps typically wrap the HTML content within a web browser control in a full screen mode, without a visible address bar or other browser chrome controls. Hybrid apps leverage the device's browser engine (the most common being WebKit) to render web content and process JavaScript code. Hybrid app frameworks provide a web-to-native abstraction layer (also known as bridge layer) that allows JavaScript to access many device-specific capabilities and native APIs provided by the platform that are not generally accessible from the Mobile Web Browser alone. 
<div class="copyright"></div>
</script>